
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
*:focus {
  outline: none;
} */

body {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  box-sizing: border-box;
}

.red-star {
  color: #ff385c;
}