
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  box-sizing: border-box;
}

.red-star {
  color: #ff385c;
}

#wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
