/* .mouse-cursor {
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.mouse-cursor span {
  position: relative;
}

.mouse-cursor:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, pink, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.mouse-cursor:hover:before {
  --size: 200px;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
}

.red-star {
  color: red;
}